<!DOCTYPE html>
<html>
  <head>
    <title>__The Everyman Blog__</title>
  </head>
  <body>
    <div id="header">
      <div id="header-content">
        <div id="header-home">
          <a href="/">Home</a>
        </div>
        <div id="header-about">
          <a href="/">About</a>
        </div>
        <div id="header-newpost">
          <a href="/">New Post</a>
        </div>
      </div>
    </div>
    <div id="body">
      <div id="body-content">
        <div id="body-header">
          <h1>The Everyman Blog</h1>
          <p>
            <em>
              I came, I saw, I coded
            </em>
          </p>
        </div>
        <div id="example-entry">
          <div id="entry-header">
            <h2 class="entry-title">SSB Thoughts</h2>
            <span class="entry-date">2:02 AM 7/15/2014</span>
          </div>
          <p class="entry-description">
            I watched the new character reveal this morning...whaaaat?
          </p>
        </div>
      </div>
    </div>
  </body>
</html>