<!DOCTYPE html>
<html>
  <head>
    <title>__404 Error__</title>
  </head>
  <body>
    <div id="header">
      <div id="header-content">
        <div id="header-home">
          <a href="/">Home</a>
        </div>
        <div id="header-about">
          <a href="/">About</a>
        </div>
        <div id="header-newpost">
          <a href="/">New Post</a>
        </div>
      </div>
    </div>
    <div id="body">
      <div id="body-content">
        <div id="body-header">
          <h1>Oh dear. Looks like you're lost.</h1>
        </div>
        <div class="error-entry">
          <img class="error-image" src="../static/heyeyeyey404.jpg" />
          <p class="error-warning">
            HEYEYEYEYEYEY. Use the navigation links at the top to escape He-man.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>