{% extends "base.html" %}

{% block head %}
    <title>The Everyman Blog</title>
{% endblock %}

{% block body %}
        <div class="body-header">
          <h1>The Everyman Blog</h1>
          <em>
            the WebDevWeeks sample blog
          </em>
        </div>
        {% for entry in blogEntries %}
        <div class="blog-entry">
          <div class="entry-header">
             <h2 class="entry-title">{{ entry.title }}</h2>
            <p class="entry-author">{{ entry.author }}</p>
            <span class="entry-date">{{ entry.date }}</span>
          </div>
          <p class="entry-description">{{ entry.text }}</p>
        </div>
        {% endfor %}
{% endblock %}