{% extends "base.html" %}

{% block head %}
    <title>The Everyman Blog</title>
    <script type="text/javascript">
      var quotes = ["I came, I saw, I coded",
                    "No users, Firefox only, Flask disorientation",
                    "Equality for all browsers, except IE6-",
                    "Le blog, c'est moi",
                    "Where no entries are more equal than yours"];
      function getQuote() {
        return quotes[Math.floor(quotes.length*Math.random())];
      }
      window.onload = function() {
        document.getElementById("quote").innerHTML = getQuote();
      }
    </script>
{% endblock %}

{% block body %}
        <div class="body-header">
          <h1>The Everyman Blog</h1>
          <p>
            <em id="quote">
            </em>
          </p>
        </div>
        {% for entry in blogEntries %}
        <div class="blog-entry">
          <div class="entry-header">
             <h2 class="entry-title"><a href="{{ url_for('permapost', postId=entry.ID) }}">{{ entry.title }}</a></h2>
            <p class="entry-author">{{ entry.author }}</p>
            <span class="entry-date">{{ entry.date }}</span>
          </div>
          <p class="entry-description">{{ entry.text }}</p>
        </div>
        {% endfor %}
{% endblock %}