{% extends "base.html" %}

{% block head %}
    <title>The Everyman Blog</title>
{% endblock %}

{% block body %}
        <div id="body-header">
          <h1>The Everyman Blog</h1>
          <p>
            <em>
              I came, I saw, I coded
            </em>
          </p>
        </div>
        <div class="example-entry">
          <div class="entry-header">
            <h2 class="entry-title">SSB Thoughts</h2>
            <span class="entry-date">2:02 AM 7/15/2014</span>
          </div>
          <p class="entry-description">
            I watched the new character reveal this morning...whaaaat?
          </p>
        </div>
        <div class="example-entry">
          <div class="entry-header">
            <h2 class="entry-title">SSB Thoughts</h2>
            <span class="entry-date">2:02 AM 7/15/2014</span>
          </div>
          <p class="entry-description">
            I watched the new character reveal this morning...whaaaat?
          </p>
        </div>
        <div class="example-entry">
          <div class="entry-header">
            <h2 class="entry-title">SSB Thoughts</h2>
            <span class="entry-date">2:02 AM 7/15/2014</span>
          </div>
          <p class="entry-description">
            I watched the new character reveal this morning...whaaaat?
          </p>
        </div>
        <div class="example-entry">
          <div class="entry-header">
            <h2 class="entry-title">SSB Thoughts</h2>
            <span class="entry-date">2:02 AM 7/15/2014</span>
          </div>
          <p class="entry-description">
            I watched the new character reveal this morning...whaaaat?
          </p>
        </div>
        <div class="example-entry">
          <div class="entry-header">
            <h2 class="entry-title">SSB Thoughts</h2>
            <span class="entry-date">2:02 AM 7/15/2014</span>
          </div>
          <p class="entry-description">
            I watched the new character reveal this morning...whaaaat?
          </p>
        </div>
{% endblock %}